body{
    background-color: lightblue;
    width: 33%;
    padding:10px;
    margin:20px;
    align-self: center;
    align-items: center;
}

.hidden{
    visibility: hidden;
}

.shown{
    visibility: visible;
}