span {
    background-color: blue;
}    

#newPostBtn {
    background-color: forestgreen;
    border-radius: 15%;
    margin: 0% 0% 3% 80%;
    padding: 10px 10px 15px 10px;
    color: white;
}
    #newPostBtn:hover {
        background-color: lightgreen;
    }